@model LiteCommerce.Admin.Models.ProductPaginationResult
@{
    ViewBag.Title = "Manage Products";
    int i = 0;
}

<div class="box box-primary">
    <div class="box-body">
        <form class="form-horizontal" action="~/Product" method="GET">
            <div class="row">
                <div class="col-sm-3 input-group-sm">
                    @Html.DropDownListFor(m => m.Category, SelectListHelper.Categories(), new { @class = "form-control"})
                    @*<select name="Supplier" class="form-control">
                        <option>--AllSupplier--</option>
                        <option>A</option>
                        <option>B</option>
                        <option>C</option>
                        <option>D</option>
                        <option>E</option>
                    </select>*@
                </div>
                <div class="col-sm-3 input-group-sm">
                    @Html.DropDownListFor(m => m.Supplier, SelectListHelper.Suppliers(), new { @class = "form-control" })
                    @*<select name="Category" class="form-control">
                        <option>--AllCategory--</option>
                        <option>A</option>
                        <option>B</option>
                        <option>C</option>
                        <option>D</option>
                        <option>E</option>
                    </select>*@
                </div>
                <div class="col-sm-6">
                    <div class="input-group input-group-sm">
                        @Html.TextBoxFor(m => m.SearchValue, new { @class = "form-control", @placeholder = "Input search value..." })
                        @*<input type="text" class="form-control" placeholder="Input search value...">*@
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<form action="~/Product/Delete" method="post">
    <div class="container-fluid row" style="margin-bottom:10px;">
        <div class="col-sm-8">
            There are <b>@Model.RowCount</b> Products. Page @string.Format("{0}/{1}", Model.Page, Model.PageCount)
        </div>
        <div class="col-md-4 text-right">
            <div class="btn-group">
                <a href="~/Product/Input" class="btn btn-sm btn-primary">Add Product</a>
                <button type="submit" class="btn btn-sm btn-danger">Delete Products</button>
            </div>
        </div>
    </div>
    <div class="box box-success">
        <div class="box-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width:30px">
                            <input type="checkbox" id="selectall"/>
                        </th>
                        <th style="width:25px">#</th>
                        <th style="width:150px">Name</th>
                        <th style="width:150px">Supplier</th>
                        <th style="width:auto">Category</th>
                        <th style="width:150px">Quantity Per Unit</th>
                        <th style="width:100px">Unit Price</th>
                        <th style="width:200px">Descriptions</th>
                        <th style="width:60px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.Data)
                    {
                        <tr>
                            <td>
                                <input class="checkbox__item" type="checkbox" name="productIDs" value="@product.ProductID"/>
                            </td>
                            <td>@(++i)</td>
                            <td>
                                <span style="color:#0094ff; font-weight:bold; display:block">
                                    <a href="~/Product/Input/@product.ProductID/">@product.ProductName</a>
                                </span>
                            </td>
                            <td>
                                @foreach(var supplier in SelectListHelper.Suppliers())
                                {
                                    if(product.SupplierID == Convert.ToInt32(supplier.Value))
                                    {
                                        @supplier.Text
                                    }
                                }
                            </td>
                            <td>
                                @foreach(var category in SelectListHelper.Categories())
                                {
                                    if(product.CategoryID == Convert.ToInt32(category.Value))
                                    {
                                        @category.Text
                                    }
                                }
                            </td>
                            <td>@product.QuantityPerUnit</td>
                            <td>@product.UnitPrice</td>
                            <td>
                                @{ 
                                    if(product.Descriptions.Length > 100) 
                                    { 
                                        product.Descriptions = product.Descriptions.Substring(0, 100) + "...";
                                    }
                                }
                                @product.Descriptions
                            </td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-default" href="~/Product/Input/@product.ProductID/">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="box-footer clearfix text-center">
            <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="~/Product?page=1&Category=@Model.Category&Supplier=@Model.Supplier&searchValue=@Model.SearchValue">«</a></li>
                @for (int page = 1; page <= Model.PageCount; page++)
                {
                    if (page == Model.Page)
                    {
                        <li class="active"><a>@page</a></li>
                    }
                    else
                    {
                        <li><a href="~/Product?page=@page&searchValue=@Model.SearchValue">@page</a></li>
                    }
                }
                <li><a href="~/Product?page=@Model.PageCount&Category=@Model.Category&Supplier=@Model.Supplier&searchValue=@Model.SearchValue">»</a></li>
            </ul>
        </div>
    </div>
</form>



